@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/* Importando a fonte Press Start 2P do Google Fonts */

.body{
background-image: url(https://th.bing.com/th/id/OIG.ybiSU88_F034TRDFDVyv?pid=ImgGn);
}

/* Estilo para o rodapé */
.rodape {
  background-color: #4b0082; /* Tom de roxo escuro */
  color: #fff; /* Cor do texto no rodapé (branco) */
  padding: 20px;
  text-align: center;
  position: relative;
}

/* Estilo para as imagens de redes sociais no rodapé */
.redes-sociais img {
  width: 40px; /* Ajuste o tamanho conforme necessário */
  height: 30px;
  margin: 0 10px; /* Espaçamento entre as imagens */
  cursor: pointer;
}

/* Estilo para os links no rodapé */
.rodape a {
  color: #fff; /* Cor dos links no rodapé (branco) */
  text-decoration: none;
}

/* Estilo para os links no rodapé quando hover */
.rodape a:hover {
  text-decoration: underline;
}

.imagem_site{
  margin-left: 20px;
  position:relative;
  float: left;
  display: block;
  border: 1px solid purple;
  border-radius: 25px;

}

.anuncios {
  float: right;
  margin-top: 7%;
  padding: 5%;
  width: 5%;
  height: 350px;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.imageSlider {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.imageSlider img {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 5px;
}

.imageSlider.active {
  opacity: 1;
}

.imagem_login{
  margin-left: 20px;
  float: right;
  margin-right: 12px;
  position:relative;
  border: 1px solid purple;
  border-radius: 25px;

}

.LoginPopup{
  position:absolute;
  display: none;
  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
  background:transparent;
 backdrop-filter: blur(20px);
  top: 50%;
  float: left;
  left: 12%;
  transform: translate(-50%,-50%);
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 15px;
  width: 300px;
  height: 350px;
  padding: 10px;
}

.LoginPopup .header_form{
  height: 30px;
  display: flex;
  text-align: center;
  align-items: center;
}

.LoginPopup .header_form > div{
  width:calc(100% / 3);
  color: #ddd;
  font-weight: 300;
}

.LoginPopup .header_form .singup_form{
  color: #32CD32;
}

.LoginPopup .formulario{
  margin-top: 15px;
}

.LoginPopup .formulario .formar_elemento{
  height: 50px;
  opacity: 1;
  overflow: hidden;

}

.LoginPopup .formulario input{
  width: 100%;
  padding: 13px;
  font-size: 16px;
  margin: 5px 0px;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid #222;
  background: #f5f5f5;
}

.LoginPopup .formulario button{
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 5px;
  border-radius: 10px;
  background: #f1575b;
  color: #f5f5f5;
  cursor: pointer;
  border: none;
  outline: none;
}

.LoginPopup .arrow{
  position: absolute;
  top: 52px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f5f5f5;
}

.LoginPopup .arrow{
  left: calc(calc(100% / 3) / 2);
}


.container {
    /* Classe para o contêiner principal */
    display: flex;
    /* Usando flexbox para o layout */
    justify-content: center;
    /* Centralizando os elementos horizontalmente */
    align-items: center;
    /* Centralizando os elementos verticalmente */
    flex-wrap: wrap;
    /* Permitindo que os elementos quebrem para a próxima linha */
    margin-left: 15%;
    /* Margem à esquerda do contêiner */
    margin-right: 15%;
    /* Margem à direita do contêiner */
    margin-top: 7%;
    /* Margem acima do contêiner */
    margin-bottom: 10%;
    /* Margem abaixo do contêiner */
    column-gap: 0%;
    /* Espaçamento entre colunas (não há espaçamento definido) */
}

.column-1, .column-2, .column-3, .column-4, .column-5, .column-6 {
    /* Estilo para elementos com classes column-1 até column-6 */
    column-gap: 0;
    /* Espaçamento entre colunas (não há espaçamento definido) */
    width: 250px;
    /* Largura fixa para os elementos */
    height: 250px;
    /* Altura fixa para os elementos */
    border: 5px solid pink;
    /* Borda sólida de 5px na cor pink */
    background: linear-gradient(#d2e8c7, white);
    /* Fundo com gradiente de plum para white */
    border-radius: 10px;
    /* Borda com raio de 10px */
    cursor: pointer;
    /* Altera o cursor para uma mão quando hover */
    justify-content: center;
    /* Centraliza o conteúdo horizontalmente */
    text-align: center;
    /* Centraliza o texto horizontalmente */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* Sombra com deslocamento e difusão */
    transition: transform 0.3s, box-shadow 0.3s;
    /* Efeitos de transição para transform e box-shadow */
    margin: 0;
    /* Margem zero */
}

.column-1:hover, .column-2:hover, .column-3:hover, .column-4:hover, .column-5:hover, .column-6:hover {
    /* Estilo quando hover para elementos com classes column-1 até column-6 */
    transform: scale(1.05);
    /* Escala o elemento em 5% quando hover */
    border: 3px solid pink;
    /* Borda sólida de 3px na cor pink */
    border-radius: 5px;
    /* Borda com raio de 5px */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    /* Sombra mais intensa quando hover */
}

a {
    /* Estilo para links */
    text-decoration: none;
    /* Remove a decoração de texto (sublinhado) */
    color: black;
    /* Cor do texto é preta */
}

h3 {
    /* Estilo para cabeçalhos h3 */
    margin-top: 0;
    /* Margem superior zero */
    text-align: center;
    /* Centraliza o texto horizontalmente */
    font-family: 'Press Start 2P', cursive;
    /* Usa a fonte Press Start 2P com fallback cursive */
    color: purple;
    /* Cor do texto é roxa */
    text-align: center;
    /* Centraliza o texto horizontalmente */
    font-size: 13px;
    /* Tamanho da fonte é 13px */
    justify-content: center;
    /* Centraliza o conteúdo horizontalmente */
}

header {
  /* Estilo para o elemento header */
  background: var(--cor-fundo);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
  /* Usa a fonte Press Start 2P com fallback cursive */
  width: 100%;
  /* Largura fixa de 1550px */
  height: auto;
  /* Altura fixa de 150px */
  padding: 10px;
  font-size: 0.8em;
  /* Tamanho da fonte é 0.8em */
}

.dp-menu{
  width: 1480px;
}


:root {
  /* Definição de variáveis CSS na pseudo-classe :root */
  --cor-fundo: rgb(70,130,180);
  /* Variável para a cor de fundo */
  --cor-hover: rgb(65,105,225);
  /* Variável para a cor quando hover */
  --cor-primaria: rgb(0, 0, 0);
  /* Variável para a cor primária (preta) */
}

.dp-menu ul {
  /* Estilo para listas não ordenadas dentro de elementos com a classe dp-menu */
  list-style-type: none;
  /* Remove os marcadores de lista padrão */
  padding: 0;
  /* Remove o preenchimento da lista */
  margin: 0;
  /* Remove a margem da lista */
}

.dp-menu ul {
  /* Estilo para listas não ordenadas dentro de elementos com a classe dp-menu */
  background-color: var(--cor-fundo);
  position: relative;
  /* Define a cor de fundo usando a variável cor-fundo */
}

.dp-menu ul li {
  /* Estilo para os itens da lista dentro de elementos com a classe dp-menu */
  display: inline;
  /* Exibe os itens em linha */
  position: relative;
  /* Define a posição como relativa */
  margin: 0;
  /* Remove a margem */
}

.dp-menu ul li a {
  /* Estilo para os links dentro dos itens da lista */
  color: var(--cor-primaria);
  /* Define a cor do texto usando a variável cor-primaria */
  text-decoration: none;
  /* Remove a decoração de texto (sublinhado) */
  display: inline-block;
  /* Exibe os links em bloco inline */
  padding: 10px;
  /* Adiciona preenchimento de 10px */
  transition: background .3s;
  /* Efeito de transição de fundo de 0.3 segundos */
  margin: 0;
  /* Remove a margem */
}

.dp-menu ul li a:hover {
  /* Estilo quando hover nos links dentro dos itens da lista */
  text-decoration: none;
  color: 	#A9A9A9;
  box-shadow: 0.5s;
  /* Define a cor de fundo usando a variável cor-hover */
}

.dp-menu ul ul {
  /* Estilo para sublistas não ordenadas */
  display: none;
  /* Inicialmente oculta as sublistas */
  left: 0;
  /* Define a posição à esquerda como 0 */
  position: absolute;
  /* Define a posição como absoluta */
}

.dp-menu ul li:hover ul {
  /* Mostra as sublistas quando hover nos itens da lista */
  display: block;
  /* Exibe as sublistas */
}

.dp-menu ul ul {
  /* Estilo para sublistas não ordenadas */
  width: 150px;
  /* Largura das sublistas de 150px */
}

.dp-menu ul ul li a {
  /* Estilo para links dentro das sublistas */
  display: block;
  /* Exibe os links em bloco */
}