/* Define o estilo padrão para o HTML */
html {
    width: 100%;
    height: 100%;
    background: linear-gradient(325deg,  #03001e 0%,#7303c0 30%,#ec38bc 70%, #fdeff9 100%);
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

/* Estilo para o contêiner do jogo */
.game {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}

/* Estilo para os controles do jogo */
.controls {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

/* Estilo para o botão do jogo */
button {
    background: #282A3A;
    color: #FFF;
    border-radius: 5px;
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    font-weight: bold;
}

/* Estilo para o botão desativado */
.disabled {
    color: #757575;
}

/* Estilo para as estatísticas do jogo */
.stats {
    color: #FFF;
    font-size: 14pt;
    font-weight: bold;
}

/* Estilo para o contêiner do tabuleiro do jogo */
.board-container {
    position: relative;
}

/* Estilo para o tabuleiro e a mensagem de vitória */
.board, .win {
    border-radius: 5px;
    box-shadow: 0 25px 50px rgb(33 33 33 / 25%);
    background: linear-gradient(135deg,  #03001e 0%,#7303c0 0%,#ec38bc 50%, #fdeff9 100%);
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
}

/* Estilo para o tabuleiro */
.board {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
}

/* Estilo para o tabuleiro quando está virado */
.board-container.flipped .board {
    transform: rotateY(180deg) rotateZ(50deg);
}

/* Estilo para a mensagem de vitória quando está virada */
.board-container.flipped .win {
    transform: rotateY(0) rotateZ(0);
}

/* Estilo para as cartas do jogo */
.card {
    position: relative;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

/* Estilo para a frente e o verso da carta */
.card-front, .card-back {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background: #282A3A;
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
}

/* Estilo para o verso da carta */
.card-back {
    transform: rotateY(180deg) rotateZ(50deg);
    font-size: 28pt;
    user-select: none;
    text-align: center;
    line-height: 100px;
    background: #FDF8E6;
}

/* Estilo para a frente e o verso da carta quando virada */
.card.flipped .card-front {
    transform: rotateY(180deg) rotateZ(50deg);
}

.card.flipped .card-back {
    transform: rotateY(0) rotateZ(0);
}

/* Estilo para a mensagem de vitória */
.win {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #FDF8E6;
    transform: rotateY(180deg) rotateZ(50deg);
}

/* Estilo para o texto da mensagem de vitória */
.win-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 21pt;
    color: #282A3A;
}

/* Estilo para destacar texto */
.highlight {
    color: #7303c0;
}
